a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(111, 166, 230);
}

.bg-primary {
  background-color: #007bff !important;
}

.text-white {
  color: #fff !important;
}

.blue-color{
    color: rgb(111, 166, 230) !important;
}