.main-container{
    margin: 50px;
}
.min-height-600{
    min-height: 600px;
}
h4 {
    font-family: Georgia, serif;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
#header{
    margin-top: 0.5cm;
}
#footer{
    margin-bottom: 0.5cm;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(111, 166, 230);
}
.background{
    background-color: rgb(248, 248, 248);
}
